spring:
  application:
    name: wallet-api
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/wallet_db}
    username: ${DB_USERNAME:wallet_user}
    password: ${DB_PASSWORD:wallet_pass}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: ${DB_POOL_SIZE:50}
      minimum-idle: ${DB_POOL_MIN_IDLE:10}
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      connection-init-sql: "SET lock_timeout = '10s'"
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
    show-sql: false
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    com.wallet: INFO
    org.springframework.web: WARN
    org.hibernate.SQL: WARN
